body{
  background-image: url('../IMAGES/Cloud.png') ;
  background-color: #DEFCF9;
}

h1{
  margin: 0px;
}

p{
  margin: 3px;
}

.header{
  display: flex;
  
}

.contactme{
  width: 130px;
  margin-left: auto;
}


.contact{
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #47A992;
  border: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
}

.contact:hover{
  cursor: pointer;
  box-shadow: 1px 1px 0.5px  #47A992;
}

.logo{
  width: 70px;
  height: 70px;
  margin-top: 5px;
  
}

.pic{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.github{
 margin-top: 10px;
 border-radius: 10%;
 width: 30px;
 height: 30px;
}

.gitlogo{
  width: 100%;
  height: 100%;
}

.middle_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 70vh;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.twitter{
  margin-top: 10px;
 border-radius: 10%;
 width: 30px;
 height: 30px;
}

.twitterlogo{
  width: 100%;
  height: 100%;
}

.netlify{
  margin-top: 10px;
 border-radius: 10%;
 width: 30px;
 height: 30px;
}

.netlifylogo{
  width: 100%;
  height: 100%;
}

.linkedin{
  margin-top: 10px;
  border-radius: 10%;
  width: 40px;
  height: 40px;
}

.linkedinlogo{
  width: 100%;
  height: 100%;
}

.Hello{
  position: relative;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: red;
  animation-name: hello;
  animation-duration: 3s;
}

@keyframes hello{
  0%{
    left: 0px;
  }
  50%{
    left:100%;
  }
  100%{
    left: 0px;
  }
}

.Philip{
  animation-name: philip;
  animation-duration: 3s;
}

@keyframes philip{
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.profession{
  animation-name: profession;
  animation-duration: 3s;
}

@keyframes profession{
  0%{
    opacity: 0;
  }
  10%{
    opacity:0.1;
  }
  20%{
    opacity: 0.2;
  }
  30%{
    opacity: 0.3;
  }
  40%{
    opacity: 0.4;
  }
  50%{
    opacity: 0.5;
  }
  60%{
    opacity: 0.6;
  }
  70%{
    opacity: 0.7;
  }
  80%{
    opacity: 0.8;
  }
  90%{
    opacity: 0.9;
  }
}

.cartoon_space{
  position: absolute;
  width: 20px;
  height: 30px;
}

.cartoon{
  width: 100%;
  height: 100%;
}



